@*@model IEnumerable<BookStore.Entities.Book>*@

@model PagedList.IPagedList<BookStore.Entities.Book>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";      
}

<link href="~/Content/PagedList.css" rel="stylesheet" />
  <h2>Book</h2>

<p>
    @Html.ActionLink("Create Book", "Create")  | @Html.ActionLink("Create Author", "Index", "Authors")  |  @Html.ActionLink("Create Country","Index", "CountryPublisheds")
</p>
<p></p>
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Title)*@ Title
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Price)*@ Price
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@ Description
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PagesCount)*@ PagesCount
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.Author.FullName)*@ FullName
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.CountryPublished.CountryName)*@ CountryName
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            
            <tr>
                <td>
                 @Html.DisplayFor(modelItem => item.Title)
               
                </td>
                <td>
                    @{  decimal totalPrice = item.Price;
                        totalPrice += item.CountryPublished.PhoneCode;
                    }
                    @Html.DisplayFor(modelItem => totalPrice) $

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PagesCount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Author.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryPublished.CountryName)
                </td>
                <td>
                    @{
                        foreach (var v in item.ImagePatchs)
                        {
                            <img src="~/Images/@v.ImageUrl" style="height:100px;width:80px;" />
                        }

                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
  }

    </table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))


    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, BooksService) {

            getTabledata();
            function getTabledata() {
                BooksService.getData().then(function (d) {
                    $scope.search = {};
                    $scope.searchBy = '$';

                    $scope.BooksList = d.data;

                })
            }
        });

        app.service("BooksService", function ($http) {
            this.getData = function () {
                return $http.get("/Admin/GetRecords");
            }
        });
    </script>
