@using PagedList.Mvc
@model PagedList.IPagedList<BookStore.Entities.ViewModel.BookViewModel>

<table>
    <thead>
        <tr>           
            <th>               
                <a href="" class="Price">Title</a>
            </th>
            <th>           
                <a href="" class="Price">Price</a>
            </th>
            <th>
                <a href="" class="Price">PageCount</a>    
            </th>
            <th>
                <a href="" class="Price">Author</a>   
            </th>
            <th>
                <a href="" class="Price">Country</a>  
            </th>
            <th>
                Picture
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    @Html.DisplayFor(modelItem => item.Title)

                </td>
                <td>
                    @{ 
                        decimal totalPrice = item.Price + item.CountryPublished.PhoneCode;
                        var price = totalPrice.ToString("C2");
                     }
                    @Html.DisplayFor(modelItem => price)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PagesCount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Author.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryPublished.CountryName)
                </td>
                <td>
                    @{
                        foreach (var v in item.ImagePatchs)
                        {
                            <img src="~/Images/@v.ImageUrl" style="height:100px;width:80px;" />
                        }
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure?');" }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id },new { onclick="return confirm('Are you want delete this book?');"})
                </td>
            </tr>
     }
    </tbody>
</table>


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

<style>
    thead  {
        background-color: #f5f5f5;
    }
    thead th
    {
        color:dodgerblue;
    }
    td, th {
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        border: solid 1px #ddd;
    }

    th {
        height: 50px;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
</style>
