@model PagedList.IPagedList<BookStore.Entities.Book>
@using PagedList.Mvc

@foreach (var item in Model)
{
    <a href="@Url.Action("Details","Books", new { id = item.Id })" class="port">

        <div class="p">
            @foreach (var v in item.ImagePatchs)
            {
                <img src="~/Images/@v.ImageUrl" class="" style="height:60%;width:60%;" />
            }

             @{ decimal total = @item.Price + @item.CountryPublished.PhoneCode;}

            <p class="Price"> <strong style="color:black;"> @total $</strong> </p>

            <p class="Author" style="color:#cea582;font-size:smaller;">@item.Author.FullName</p>
            <p class="Title" style="color:sandybrown;">@item.Title</p> <br />

        </div>
    </a>
}
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
<link href="~/Content/PagedList.css" rel="stylesheet" />

<style>
    #Search {
        width: 50%;
        border-radius: 5px;
    }

    #SearchP {
        width: 100%;
        text-align: center;
    }

    .port {
    }
    /*.portfolio-item:hover
    {
        border: 0.5px groove;
    }*/
    .p {
        display: inline-block;
        width: 190px;
        height: 290px;
        margin: 15px;
        text-align: center;
    }

        .p img {
            margin-top: 7px;
        }

    .sp {
        padding: 8px;
        margin: 10px;
    }

    .p:hover {
        border: 1px solid;
        border-color: bisque;
    }

    .Price {
        margin-top: 7px;
    }
</style>
