@model BookStore.Entities.ViewModel.BookViewModel

@{
    ViewBag.Title = "Details";
}

<div> 
    <hr />    
    <p>      
        @Html.ActionLink("Back to List", "Index")
    </p>
        <dl class="dl-horizontal">

            <dd id="pix">
                @Html.DisplayFor(model => model.Picture)
                @{
                    foreach (var v in Model.ImagePatchs)
                    {
                        <img src="~/Images/@v.ImageUrl" style="height:300px;width:180px;" />
                    }
                }

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            @{  
                decimal Price = Model.Price + Model.CountryPublished.PhoneCode;                
                var p = Price.ToString("C2");
            }
            <dt>
                @Html.DisplayNameFor(model => Price)
            </dt>
            <dd>
                 @Html.DisplayFor(model => p)  
            </dd>                     

            <dt>
             Pages  
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PagesCount)
            </dd>


            <dt>
                Author 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author.FullName)
            </dd>

            <dt>               
                Country
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CountryPublished.CountryName)             
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)     
            </dt>

            <dd style="text-align:justify">           
                @Html.DisplayFor(model => model.Description)  
            </dd>

        </dl>
    </div>

<style>
    #Description
    {
        text-align:justify;
    }
    #pix
    {
        margin-bottom:12px;
    }
</style>