@model  IEnumerable<BookStore.Entities.Book>

@{
    ViewBag.Title = "Index";

}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>Books</h2>

    @*<div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <div class="input-group-btn search-panel" id="pp">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">Filter by</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="Name">Book name</a></li>
                            <li><a href="Author">Author</a></li>
                            <li><a href="Country">Country</a></li>
                        </ul>
                    </div>

                    <input type="text" class="form-control" name="x" placeholder="Search book..." id="SearchString">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>*@



<br />
<br />



<div>  Search by name: <input id="SearchString" name="SearchString" type="text" value="" />
 
    <input type="submit" value="Search" id="btnSearch" />
  

</div>
     
<div id="ProductList">
   @Html.Partial("Data1", Model)
</div>       
 

@section scripts
{

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />

 <script type="text/javascript">
        
 

     window.addEventListener("popstate", function (e) {
         $.ajax({
             url: location.href,
             success: function (result) {
                 $('#ProductList').html(result);
             }
         });
     });

     function ChangeUrl(page, url) {
         if (typeof (history.pushState) != "undefined") {
             var obj = { Page: page, Url: url };
             history.pushState('Index',obj.Page, obj.Url);
         } else {
             alert("Browser does not support HTML5.");
         }
     }

     function getUrlVars() {
         var vars = [], hash;
         var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
         for (var i = 0; i < hashes.length; i++) {
             hash = hashes[i].split('=');
             vars.push(hash[0]);
             vars[hash[0]] = hash[1];
         }
         return vars;
     }

     function search() {
         $.ajax({
             url: "/Books/Index?searchString=" + $('#SearchString').val(),
             ////type:"get",
             success: function (result) {
                 ChangeUrl("Index", "/Books/Index?searchString=" + $('#SearchString').val()) ;
                 $('#ProductList').html(result);
             }
         });
     }


     $(function () {
         $("#btnSearch").click(function () {
             var v = $("#SearchString").val;
             if (v != null) {
                 search();
             }
             else
             {
                 alert("error");
             }
             
         });

         $("#SearchString").keypress(function (e) {
             if (e.keyCode == 13) {
                 search();
             }
         });

    
         $('body').on('click', '#ProductList .pagination a', function (event) {
             event.preventDefault();
             console.log('page');
             var searchString = $('#SearchString').val();
             if (searchString == undefined || searchString == '') {
                 searchString = '';
             } else {
                 searchString = '&searchString=' + searchString;
             }
             var url = $(this).attr('href') + searchString;
             console.log(url);
             $.ajax({
                 url: url,
                 success: function (result) {
                     ChangeUrl("Index", url);
                     $('#ProductList').html(result);
                 }
             });

                               
         });

                       

         });

      </script>

 }

            @*<br />


         <p id="SearchP">
            Search @Html.TextBox("Search")   
            <input type="submit" value="Go" />
        </p>
     

    @*<div class="container">
        <div class="row">                 
                  
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details","Books", new { id = item.Id })" class="port">

                <div class="p">
                    @foreach (var v in item.ImagePatchs)
                    {
                        <img src="~/Images/@v.ImageUrl" class="" style="height:60%;width:60%;" />
                    }

                    <p class="Price"> <strong style="color:black;">@item.Price.ToString() $</strong> </p>  

                    <p class="Author" style="color:#cea582;font-size:smaller;">@item.Author.FullName</p>
                   <p class="Title" style="color:sandybrown;">@item.Title</p> <br />
                   
                </div>
            </a>          
            
        }
        </div>
    </div>*@

   @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))*@
@*@section scripts
{
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}*@

<style>

    /*#imaginary_container{
    margin-top:20%;*/ /* Don't copy this 
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}*/





    #Search {
        width: 1000px;
        /*height:50px;*/
        border-radius: 5px;
    }

    #SearchP {
        width: 100%;
        text-align: center;
    }

    .port {
    }
    /*.portfolio-item:hover
    {
        border: 0.5px groove;
    }*/
    .p {
        display: inline-block;
        width: 190px;
        height: 290px;
        margin: 15px;
        text-align: center;
    }

        .p img {
            margin-top: 7px;
        }

    .sp {
        padding: 8px;
        margin: 10px;
    }

    .p:hover {
        border: 1px solid;
        border-color: bisque;
    }

    .Price {
        margin-top: 7px;
    }
</style>


@*@section scripts{
    <script>
        $(function () {
            $("#Go").click(function () {
                GetData("zxc")});

            {

            }

        function GetData(Search)
        {
            $.ajax({
                url: "@Url.Action("Data", "Books")",
                type: "Get",
                data:"Search="+Search,
                success:function(response)
                {
                    $("#tableAjax").text(response);
                }

            });
        }

        });

    </script>
     }
*@







@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
      
      
        <th>
            @Html.DisplayNameFor(model => model.Picture)
          
        </th>
       
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @{  decimal totalPrice = item.Price;
                totalPrice += item.CountryPublished.PhoneCode;
            }
            @Html.DisplayFor(modelItem => totalPrice) $
          
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
            @{
                foreach (var v in item.ImagePatchs)
                {
                    <img src="~/Images/@v.ImageUrl" style="height:100px;width:80px;" />
                }

            }
        </td>
      
        <td>
          @Html.ActionLink("Details", "Details", new { id=item.Id })       
        </td>
    </tr>
}

</table>*@
