@*@model IEnumerable<object>*@
@model IEnumerable<BookStore.MVC.Models.AModel>
    
@*@{
    List<BookStore.Entities.Attribute> listattribute = Model.ToList()[0] as List<BookStore.Entities.Attribute>;
    List<BookStore.Entities.AttributeValue> listattrvalue = Model.ToList()[1] as List<BookStore.Entities.AttributeValue>;
 }*@

<h2>Index</h2>
<table>
    @foreach (var v in Model)
    {
        <tr>
            <th>@v.AttrName</th>
        </tr>
        <tr>
            <th>@v.Type</th>
        </tr>
        <tr>
            <th>@v.Value</th>
        </tr>
    }

</table>
        @*<input type="checkbox" name="TeacherIds" value="@i.value" checked="checked" />*@
  
<hr />

<div class="form-group">
    <label class="control-label col-md-2" for="DepartmentID">Attributes</label>
    <div class="col-md-10">
      
    
    </div>
    </div>
    @Scripts.Render("~/bundles/jqueryui")
